/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

/*-- Переменные цвета шрифт --*/
$background-color:#0A090A;
$textcolor:#fff;
$fonts:'Roboto',
sans-serif;
$searchcolor:#AEAEAE;
$backgroundsearchcolor:rgba(196, 196, 196, 0.5);
/*-- Переменные цвета шрифт конец --*/

/*--Основные стили--*/

body {
	background-color: $background-color;
	color: $textcolor;
	font-family: $fonts;
	background-image: url('../img/main-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
}

.logo {
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
}

.search {
	display: flex;
	align-items: center;
	flex: 0.8;
}

.search-input {
	flex: 1;
	background: $backgroundsearchcolor;
	border-radius: 5px;
	padding: 12px 18px 12px 18px;
	color: $searchcolor;
	font-size: 14px;
	line-height: 16px;
}

::-webkit-input-placeholder {
	/* Edge */
	color: $searchcolor;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $searchcolor;
}

::placeholder {
	color: $searchcolor;
}

.search-button {
	background: transparent;
	border: none;
	padding: 15px 18px;

}

.user {
	display: flex;
	align-items: center;
}

.bookmark {}

.avatar {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}