/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

/*-- Переменные цвета шрифт --*/
$background-color:#0A090A;
$textcolor:#fff;
$fonts:'Roboto',
sans-serif;
$searchcolor:#AEAEAE;
$backgroundsearchcolor:rgba(196, 196, 196, 0.5);
$fontsh1:'Playfair Display',
serif;
$title-en-color:#787878;
$tag-color:#333333;
$tag-background-color:#ffff;
$play-color:#fff;
$content-color:#fff;
$content-textcolor:#000000;
$content-button-color:#FF8F27;
$content-button-text-color:#fff;
$menu-item-color:#000000;
$tabs-item-hover:#FF8F27;
/*-- Переменные цвета шрифт конец --*/

/*--Основные стили--*/

body {
	background-color: $background-color;
	color: $textcolor;
	font-family: $fonts;
	background-image: url('../img/main-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	margin-bottom: 30%;
}

.logo {
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
}

.search {
	display: flex;
	align-items: center;
	flex: 0.8;
}

.search-input {
	flex: 1;
	background: $backgroundsearchcolor;
	border-radius: 5px;
	padding: 12px 18px 12px 18px;
	color: $searchcolor;
	font-size: 14px;
	line-height: 16px;
}

::-webkit-input-placeholder {
	/* Edge */
	color: $searchcolor;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $searchcolor;
}

::placeholder {
	color: $searchcolor;
}

.search-button {
	background: transparent;
	border: none;
	padding: 15px 18px;

}

.user {
	display: flex;
	align-items: center;
}

.bookmark {}

.avatar {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.main {}

.title {
	margin-bottom: 7px;
	font-family: $fontsh1;
	font-weight: bold;
	font-size: 48px;
	line-height: 64px;
	color: $textcolor;
}

.title-en {
	display: inline-block;
	font-family: $fonts;
	font-size: 20px;
	line-height: 23px;
	color: $title-en-color;
	margin-bottom: 38px;

}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
}

.movie-info {
	display: flex;
	align-items: center;
}

.tag {
	display: inline-block;
	font-family: $fonts;
	font-size: 16px;
	line-height: 19px;
	color: $tag-color;
	background-color: $tag-background-color;
	border-radius: 3px;
	padding: 5px 10px;
	margin-right: 30px;
}

.country {
	font-family: $fonts;
	font-size: 16px;
	line-height: 19px;
	color: $textcolor;
	margin-right: 33px;
}

.play {
	display: flex;
	align-items: center;
	font-family: $fonts;
	font-size: 16px;
	line-height: 19px;
	color: $textcolor;
}

.play:before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	background-color: $play-color;
	background-position: center;
	border-radius: 50%;
	margin-right: 15px;


}

.more {
	display: flex;
	align-items: center;
	font-family: $fonts;
	font-size: 16px;
	line-height: 19px;
	color: $textcolor;
}

.more:after {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	background-color: $play-color;
	border-radius: 50%;
	background-position: center;
	margin-left: 15px;
	transform: rotate(90deg);

}

.content {
	display: flex;
	justify-content: space-between;
	background: $content-color;
	border-radius: 3px;
	color: $content-textcolor;
	padding: 43px 50px;
}

.short-info {}

.poster {
	display: block;
	margin-top: -80px;
	margin-bottom: 20px;
}

.button {
	background: $content-button-color;
	padding: 10px 44px;
	color: $content-button-text-color;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 30px;

}

.actors-tittle {
	padding-left: 15px;
	font-weight: 900;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 10px;
}

.actors-list {
	padding-left: 15px;
	text-decoration: underline;
}

.actors-list-item {
	padding-bottom: 5px;

}

.full-info {
	flex: 0.97;
}

.tabs {
	margin-bottom: 40px;
}

.tabs-item {
	color: $menu-item-color;
	margin-right: 40px;
	font-size: 17px;
	line-height: 21px;
}

.tabs-item:hover {
	color: $tabs-item-hover;
}

.tabs-item-active {
	color: $tabs-item-hover;
	margin-right: 40px;
	font-size: 17px;
	line-height: 21px;
}

.bookmark-added {
	vertical-align: middle;
}

.full-content {
	display: flex;
	justify-content: space-between;
}

.tabs-content {
	margin-right: 70px;
}

.text {
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 25px;
}

.textz {
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 30px;
}

.text-title {
	font-weight: 900;
	font-size: 16px;
	line-height: 140%;
	padding-bottom: 22px;
}

.subscribe {}